/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset ends here */

body {
  background-color: #234974;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;  
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header-container {
  background-color: #234974;
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}

#nav-container {  
  width: 100%;
}

.content-container-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-container-r {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#decks {
  margin-top: 75px;
}

#remodel {
  margin-top: 90px;
}

.resto-container {
  margin-top: 50px;
}

.roofing-container {
  margin-top: 40px;
}

.windows-container {
  margin-top: 50px;
}

.siding-container {
  margin-top: 45px;
}

.header-img {
  height: 141px;
  width: 301px;
}

.header-list {
  margin-top: 30px;
  list-style-type: none;
}

#tel {
  color: #E8232F
}

#tel:hover {
  color: #E8232F;
}

#tel:visited {
  color: #E8232F
}

#mason {
  color: #E8232F
}

#mason:hover {
  color: #E8232F;
}

#mason:visited {
  color: #E8232F
}

.nav-item {
  height: 40px;
  margin: auto;
  padding: 3px; 
}

#nav-spec {
  color: #FDFEFF;
  font-size: 24px;
}

#nav-spec:hover {
  border: #E8232F 3px solid;
  color: #FDFEFF;
}

#nav-spec:visited {
  color: #FDFEFF;
}

.remodel {
  margin-top: 65px;
}

.remodel-info {
  width: 250px;
}

.content-subcont {
  display: flex;
  justify-content: center;
}

#floors {
  margin-top: 30px;
}

#roofing {
  margin-top: 75px;
}

#resto {
  margin-top: 40px;
}

#siding {
  margin-top: 75px;
}

#windows {
  margin-top: 65px;
}

.resto-info {
  margin-top: 65px;
  width: 400px;
}

.resto-header {
  text-align: center;
}

.siding-header {
  text-align: center;
}

.roofing-header {
  text-align: center;
}

.windows-info {
  width: 400px;
}

.siding-info {
  width: 400px;
}

.roofing-info {
  width: 400px;
  margin-top: 45px;
}

#floor-sub1 {
  padding-top: 50px;
  padding-right: 50px;
}

.deck-header {
  margin-top: 30px;
  text-align: center;
}

.deck-info {
  width: 400px;
}

#floor-slideshow {
  margin-left: 50px;
}

#floor-img {
  height: 300px;
  width: 300px;
}

#standalone {
  height: 200px;
  width: 200px;
  margin-left: 25px;
}

