.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header-container {
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}

.flooring-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.decks-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 75px;
}

.remodel {
  margin-top: 65px;
}

.remodel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 90px;
}

.remodel-info {
  width: 250px;
}

.flooring-subcont {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.resto-container {
  margin-top: 50px;
}

.resto-subcont {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.resto-info {
  margin-top: 65px;
  width: 400px;
}

.resto-header {
  text-align: center;
}

.sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.siding-header {
  text-align: center;
}

.roofing-header {
  text-align: center;
}

.roofing-container {
  margin-top: 40px;
}

.roofing-subcont {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.siding-container {
  margin-top: 45px;
}

.siding-subcont {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.siding-info {
  width: 400px;
}

.roofing-info {
  width: 400px;
  margin-top: 45px;
}

#floor-sub1 {
  padding-top: 50px;
  padding-right: 50px;
}

.deck-header {
  margin-top: 30px;
  text-align: center;
}

.deck-info {
  width: 400px;
}

.nav-item {
  margin: 10px
}

.banner-img {
  height: 200px;
  width: 100%;
}

#floor-slideshow {
  margin-left: 50px;
}

#floor-img {
  height: 300px;
  width: 300px;
}

#standalone {
  height: 200px;
  width: 200px;
  margin-left: 25px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
